:root {
    --tile-size: 30px;
    --columns: 0;
    --rows: 0;
    --player-sprite: none;
    --player-original-sprite: none;
    --goal-sprite: url('../assets/images/flag2.png');
}

/* Grid Tiles (background will be painted over with the terrain below */
.tile {
    background-color: rebeccapurple;
    border: 1px solid black;
    width: var(--tile-size);
    height: var(--tile-size);
}

/* Terrain Options - setting multiple colors as options for (almost) each terrain to have some variety */
.grass {
    background-color: forestgreen;
    background-image: url('../assets/images/tiles/Grass\ Texture\ 1.jpg');
    background-size: cover;
}
.grass2 {
    background-color: rgb(28, 155, 28);
    background-image: url('../assets/images/tiles/Grass\ Texture\ 2.jpg');
    background-size: cover;
}
.grass3 {
    background-color: rgb(43, 172, 43);
    background-image: url('../assets/images/tiles/Grass\ Texture\ 4.jpg');
    background-size: cover;
}

.water {
    background-color: blue;
    background-image: url('../assets/images/tiles/water.png');
    background-size: cover;
}
.water2 {
    background-color: rgb(57, 57, 252);
    background-image: url('../assets/images/tiles/water2.png');
    background-size: cover;
}

.rock {
    background-color: rgb(80, 78, 78);
    background-image: url('../assets/images/tiles/rock3.png');
    background-size: cover;
}
.rock2 {
    background-color: rgb(62, 60, 60);
    background-image: url('../assets/images/tiles/rock4.png');
    background-size: cover;
}

.lava {
    background-color: firebrick;
    background-image: url('../assets/images/tiles/lava.png');
    background-size: cover;
}


/* The player sprite */
#player {
    background-image: var(--player-sprite);
    background-repeat: no-repeat;
    background-size: contain;
}

/* The container for the divs holding the players lifes */
#lifes {
    display: flex;
    gap: 0.5rem;
}

/* Each of these will hold exactly one life sprite */
#lifes > div {
    background-image: var(--player-original-sprite);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

/* The flag (goal) sprite */
#flag {
    background-image: var(--goal-sprite);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: forestgreen;
}