:root {
    --tile-size: 30px;
    --columns: 20;
    --rows: 20;
}

.tile {
    background-color: rebeccapurple;
    border: 1px solid black;
    width: var(--tile-size);
    height: var(--tile-size);
}

.grass {
    background-color: forestgreen;
}

.grass2 {
    background-color: rgb(28, 155, 28);
}

.grass3 {
    background-color: rgb(43, 172, 43);
}

.water {
    background-color: blue;
}

.water2 {
    background-color: rgb(57, 57, 252);
}

.rock {
    background-color: rgb(80, 78, 78);
}

.rock2 {
    background-color: rgb(62, 60, 60);
}

.lava {
    background-color: firebrick;
}